In [95]:
from warnings import filterwarnings as fw; fw('ignore')
from sklearn.inspection import permutation_importance
from pycaret.classification import *
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle
import shap

In [96]:
df = pd.read_csv('dataset_t0.5.csv', index_col='CandidateUniqueId')
df.drop(columns=['Performance', 'Job Status'], inplace=True)
# df['Overall'] = df['Overall'].replace({'Low_Attrite': 0, 'Low_Active': 1, 'High_Attrite': 2, 'High_Active': 3})
X = df.drop('Overall', axis=1)
y = df['Overall']

print(len(df))
df.head()

937

,25095_87335,25095_87336,25095_87337,25096_87338,25096_87339,25096_87340,25097_87341,25097_87342,25098_87343,25098_87344,...,25135_87451,25136_87452,25136_87453,25137_87454,25137_87455,25138_87456,25138_87457,25139_87458,25139_87459,Overall
CandidateUniqueId,,,,,,,,,,,,,,,,,,,,,
1038047,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,1,0,1,Low_Active
1039489,1,0,0,1,0,0,0,1,0,1,...,0,1,0,1,0,1,0,0,1,Low_Active
1039490,1,0,0,1,0,0,0,1,0,1,...,0,1,0,1,0,1,0,0,1,Low_Active
1039493,0,0,1,1,0,0,0,1,0,1,...,0,1,0,0,1,1,0,0,1,Low_Active
1039506,1,0,0,1,0,0,0,1,0,1,...,0,1,0,1,0,0,1,0,1,Low_Active

In [97]:
set_config('seed', 69)
s = setup(df, target='Overall', numeric_features=df.columns[:-1].tolist(), fold=5,
        train_size=1, data_split_shuffle=True, data_split_stratify=True, fold_shuffle=True, 
        index=False, preprocess=False, test_data=df, experiment_name='pmaps')

In [90]:
# best_models = compare_models(sort='F1', n_select=1)
model = create_model('knn')
tuned_model = tune_model(model, optimize='F1', round=4, n_iter=100)
# evaluate_model(tuned_model)

Fitting 5 folds for each of 100 candidates, totalling 500 fits

In [91]:
final_model = finalize_model(tuned_model)
model = final_model.named_steps['actual_estimator']
# pickle.dump(model, open('max_data_knn_model_sklearn.pkl', 'wb'))
# save_model(final_model, 'max_data_knn_model_pycaret')

In [80]:
# plot_model(final_model, plot = 'feature_all', save=True)
plot_model(final_model, plot = 'confusion_matrix', save=True)
plot_model(final_model, plot = 'class_report', save=True)

weights = np.abs(permutation_importance(model, X, y, n_repeats=10, random_state=69).importances_mean)
features = model.feature_names_in_
feature_weights = zip(features, weights/sum(weights))
feature_weights = sorted(feature_weights, key=lambda x: x[1], reverse=True)
fw = pd.DataFrame(feature_weights, columns=['Feature', 'Importance'])
fw.to_csv('feature_importance.csv', index=False)

# sorted_features, sorted_importances = zip(*feature_weights)
# plt.figure(figsize=(10, 50))
# plt.barh(range(len(sorted_importances)), sorted_importances, align='center')
# plt.yticks(range(len(sorted_features)), sorted_features)
# plt.xlabel('Importance')
# plt.ylabel('Features')
# plt.title('Feature Importance')
# plt.gca().invert_yaxis()
# plt.savefig('Feature Importance.png')
# plt.close()

print("Plotted")

Plotted

In [92]:
try: predict_model(final_model)
except: pass

In [98]:
preds = actual_model.predict(X)
probs = actual_model.predict_proba(X)
probs = list(map(lambda x: round(max(x),2), probs))
# prob_str = list(map(lambda x: ', '.join(map(lambda y: str(round(y,2)), x)), probs))
score = actual_model.score(X, y)

df['Predicted'] = preds
df['Probabilities'] = probs
print(f'Model Accuracy: {score}')
df.head()

Model Accuracy: 0.6456776947705443

,25095_87335,25095_87336,25095_87337,25096_87338,25096_87339,25096_87340,25097_87341,25097_87342,25098_87343,25098_87344,...,25136_87453,25137_87454,25137_87455,25138_87456,25138_87457,25139_87458,25139_87459,Overall,Predicted,Probabilities
CandidateUniqueId,,,,,,,,,,,,,,,,,,,,,
1038047,1,0,0,1,0,0,0,1,0,1,...,0,0,1,0,1,0,1,Low_Active,Low_Active,0.73
1039489,1,0,0,1,0,0,0,1,0,1,...,0,1,0,1,0,0,1,Low_Active,Low_Active,0.64
1039490,1,0,0,1,0,0,0,1,0,1,...,0,1,0,1,0,0,1,Low_Active,High_Active,0.55
1039493,0,0,1,1,0,0,0,1,0,1,...,0,0,1,1,0,0,1,Low_Active,Low_Active,0.73
1039506,1,0,0,1,0,0,0,1,0,1,...,0,1,0,0,1,0,1,Low_Active,High_Active,0.45

In [99]:
df['Performance'] = list(map(lambda x: x.split('_')[0] , df['Overall']))
df['Attrition'] = list(map(lambda x: x.split('_')[1] , df['Overall']))
df['Joint'] = df['Overall']

df['Performance_Predicted'] = list(map(lambda x: x.split('_')[0] , df['Predicted']))
df['Attrition_Predicted'] = list(map(lambda x: x.split('_')[1] , df['Predicted']))
df['Joint_Predicted'] = df['Predicted']

df['Probability_Score'] = df['Probabilities']
df.drop(columns=['Overall', 'Predicted', 'Probabilities'], inplace=True)
df = df[['Performance', 'Attrition', 'Performance_Predicted', 'Attrition_Predicted', 'Probability_Score']]
df.to_csv('predictions.csv')
print(len(df))
df.head()

937

,Performance,Attrition,Performance_Predicted,Attrition_Predicted,Probability_Score
CandidateUniqueId,,,,,
1038047,Low,Active,Low,Active,0.73
1039489,Low,Active,Low,Active,0.64
1039490,Low,Active,High,Active,0.55
1039493,Low,Active,Low,Active,0.73
1039506,Low,Active,High,Active,0.45